<header class="nav-bar">
  <ul>
    <li>
      <a href="/">HOME</a>
    </li>

    <li>
      <input type="button" value="5 DAY FORECAST" class="forecast-button" id="fiveDayForecast" onclick="location.href='/fiveDayForecast';">
    </li>

    <li>
      <input type="button" value="MAP" class="forecast-button" id="map" onclick="location.href='/map';">
    </li>

    <li>
      <div class="dropdown">
        <button class="dropbtn">Locations <i class="fas fa-caret-down"></i></button>
        <div class="dropdown-content" id="dropdownContent"></div>
      </div>
    </li>

  </ul>
</header>