<header class="nav-bar">
  <ul>
    <li>
      <input type="button" value="HOME" class="forecast-button" id="home" onclick="location.href='/';">
    </li>

    <li>
      <input type="button" value="5 DAY FORECAST" class="forecast-button" id="fiveDayForecast" onclick="location.href='/fiveDayForecast';">
    </li>

    <li>
      <input type="button" value="MAP" class="forecast-button" id="map" onclick="location.href='/map';">
    </li>

    <li>
      <form class="query-location" id="queryLocation">
        <i class="fas fa-search"></i>
        <input type="text" id="weatherLocation" class="weather-location-input" placeholder="Enter City, Country..." name="location" required>
        <input type="button" value="Submit" id="submitCityName" class="forecast-button">
      </form>
    </li>

    <li>
      <div class="dropdown">
        <button class="dropbtn">Locations <i class="fas fa-caret-down"></i></button>
        <div class="dropdown-content" id="dropdownContent"></div>
      </div>
    </li>

  </ul>
</header>