  <header class="header">
    <div>
      <a href="/">
      <p>HOME</p>
      </a>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Locations <i class="fas fa-caret-down"></i></button>
      <div class="dropdown-content">
        <a href="#">location 1</a>
        <a href="#">location 2</a>
        <a href="#">location 2</a>
      </div>
    </div>
    <div class="date-time">
      <h2 id="date" class="date"></h2>
      <h2 id="time" class="time"></h2>
    </div>
  </header>