<header class="nav-bar">
  <ul class="nav-segments">
    <li class="nav-seg">
      <input type="button" value="HOME" class="forecast-button" id="home" onclick="location.href='/';">
    </li>

    <li class="nav-seg">
      <input type="button" value="5 DAY FORECAST" class="forecast-button" id="fiveDayForecast" onclick="location.href='/fiveDayForecast';">
    </li>

    <li class="nav-seg">
      <form class="query-location" id="queryLocation">
        <i class="fas fa-search"></i>
        <input type="text" id="weatherLocation" class="weather-location-input" placeholder="Enter City, Country..."
          name="location" required>
        <input type="button" value="SUBMIT" id="submitCityName" class="forecast-button">
      </form>
    </li>

  </ul>
</header>