<section class="forecast-section">
  <div class="forecast-container">
    <h2 class="section-header">Your 5-Day Forecast *</h2>
    <h6 class="section-subheader">* In 3-hour increments because that's how this API works.</h6>
    <div id="forecastLocation" class="forecast-location"></div>
    <div id="forecastWeather"></div>
  </div>
</section>
