<h1>This is the forecast page!!</h1>

<section>
  <div class="forecast-container">
    <h2 class="section-header">Your 5-Day Forecast *</h2>
    <h6>* In 3-hour increments.</h6>
    <div id="forecastLocation"></div>
    <div id="forecastWeather"></div>
  </div>
</section>
