<section class="demo-dropdown-holder">
  <input type="button" value="DEMOS" class="demo-button" id="demos">
  <div class="main-dropdown" id="demoDropdown">
    <div class="sky-demos">
      <input type="button" value="SKY" class="demo-sub-button" id="skyDemo">
      <div class="sky-background-demos">
        <button class="sky-button" id="dawn">DAWN</button>
        <button class="sky-button" id="day">DAY</button>
        <button class="sky-button" id="sunset">SUNSET</button>
        <button class="sky-button" id="night">NIGHT</button>
      </div>
    </div>

    <div class="weather-demos">
      <input type="button" value="WEATHER" class="demo-sub-button" id="weatherDemo">
      <ul class="weather-demos-holder">
        <li>Coming soon...</li>
      </ul>
    </div>
  </div>
</section>

<section class="date-time">
  <h2>Your Current Time is:</h2>
  <hr>
  <div class="current-time" id="currentTime">
  </div>
</section>

<section class="current-weather-container">
  <h2 class="section-header">Your Current Weather</h2>
  <div class="current-weather">
    <div id="currentLocation"></div>
    <div id="currentWeather" class="weather-info"></div>
  </div>
</section>

<br>

<section class="uv-index-section">
  <h2 class="uv-header">UV Forecast</h2>
  <div class="uv-forecast" id="uvForecast"></div>
</section>