<section class="date-time">
  <h2>Your Current Time is:</h2>
  <hr>
  <div class="current-time" id="currentTime">
  </div>
</section>

<section class="current-weather-container">
  <h2 class="section-header">Your Current Weather</h2>
  <div class="current-weather">
    <div id="currentLocation"></div>
    <div id="currentWeather" class="weather-info"></div>
  </div>
</section>

<br>

<section class="uv-index-section">
  <h2>UV Forecast</h2>
  <div class="uv-forecast" id="uvForecast"></div>
</section>

<br>

<section class="search-another-location">
  <div class="location-form">
    <h3>Travelling? Check the weather elsewhere</h3>
    <hr>
    <h3>Enter location:</h3>
    <form class="query-location" id="queryLocation">
      <input type="text" id="forcastLocation" placeholder="Enter City or Zipcode..." name="location" required>
      <input type="button" value="Submit" id="submitCityName">
    </form>
  </div>
</section>