<section class="current-weather-container">
  <h2 class="section-header">Your Current Weather</h2>
  <div class="current-weather">
    <div id="currentLocation"></div>
    <div class="weather-info" id="currentWeather"></div>

    <div class="forcasts">
      <ul>
        <li>
          <a href="/fiveDayForecast">
            <button>5 DAY</button>
          </a>
        </li>

        <li>
          <a href="/sixteenDayForecast">
            <button>16 DAY</button>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>

<br>

<section>
  <div class="location-form">
    <h3>Travelling? Check the weather elsewhere</h3>
    <hr>
    <h3>Enter location:</h3>
    <form class="query-location" id="queryLocation">
      <input type="text" id="forcastLocation" placeholder="Enter City, Country" name="location" required>
      <input type="button" value="Submit" id="submitCityName">
    </form>
  </div>
</section>