<section class="map-container">
  <h1>
    Map goes here!!
  </h1>

  <h1>Under construction...</h1>
  <div class="map">
    <img src="" alt="MAP">
  </div>
</section>

<section class="zoom-controls">
  <div class="zoom-buttons">
    <div class="zoom-in">
      <button>+</button>
    </div>
    <div class="zoom-out">
      <button>-</button>
    </div>
  </div>
  <div class="search-map">
    
  </div>
</section>

<section class="layer-container">
  <h3>MAPS</h3>
  <ul class="layer-buttons">
    <li class="single-layer-button">
      <button value="CLOUDS" class="ind-layer-btn">CLOUDS</button>
    </li>

    <li class="single-layer-button">
      <button value="PRECIPITATION" class="ind-layer-btn">PRECIPITATION</button>
    </li>

    <li class="single-layer-button">
      <button value="TEMPERATURE" class="ind-layer-btn">TEMPERATURE</button>
    </li>
  </ul>

</section>