<section class="forecast-container">
  <h2 class="section-header forecast-header">Your 16-Day Forecast *</h2>
  <h6 class="section-subheader">* Forecasts this far in advance may differ from the actual weather you experience.</h6>
  <div class="forecast-weather">
    <div id="sixteenDayLocation"><h1 style="text-align:center;">Under construction...</h1></div>
    <div id="sixteenDayWeather"></div>
  </div>
</section>
