

<section>
  <div class="forecast-container">
    <h2 class="section-header">Your 16-Day Forecast *</h2>
    <h6>* Forecasts this far in advance may differ from the actual weather you experience.</h6>
    <div id="sixteenDayLocation"></div>
    <div id="sixteenDayWeather"></div>
  </div>
</section>

<h1>Sixteen days baby!!</h1>