// color palette
@main-color: #C0C0C0;
@main-font-color: #008080;
@data-background-color: ghostwhite;
@second-text-color: #080505;

// padding
@header-footer-padding: 2px;

// global styles
.header {
    position: absolute;
    width: 100%;
    background-color: @main-color;
    top: 0;
    left: 0;
    margin: 0%;
    padding: @header-footer-padding;
    color: @main-font-color;
    box-shadow:  0 4px 8px 0 @main-font-color;
}
.dropdown {
  background-color: @second-text-color;
  float: right;
  overflow: hidden;
  padding: 2%;
  top: 0;
  right: 0;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: aliceblue;
  margin: 0;
  background-color: inherit;
}

.dropdown-content {
  background-color: @main-color;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:visited {
  color: @second-text-color;
}

.date-time {
    padding: 1% 0 0 2%;
    color: @second-text-color;
}

// Main
.main {
    margin-top: 10%;
}

.section-header {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, .7);
    margin: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.location-form {
    text-align: center;
    padding: 4px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow:  0 4px 8px 0 @main-font-color;
    width: 35%;
    margin: 0 0 2% 33%;
    border-radius: 15px;
}

.query-location {
    padding-bottom: 9px;
}

// current weather
.current-weather {
  min-width: 25%;
  border-radius: 15px;
  box-shadow:  0 4px 8px 0 @main-font-color;
  text-align: center;
}

.current-location {
  padding: 6px 4px 4px 4px;
  font-weight: bold;
  background-color: #fff;
}

.weather-icon {
  background-color: skyblue;
}

.temp-div {
  display: inline-flex;
}

.supplemental-current-info {
  text-align: right;
}

.supplemental-current-info > div {
  padding: 4px;
}

// footer
.footer {
    position: fixed;
    width: 100%;
    background-color: @main-color;
    text-align: center;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: @header-footer-padding;
    color: @main-font-color;
}

// media queries
