// color palette
@main-color: #C0C0C0;
@main-font-color: #008080;
@data-background-color: ghostwhite;

// padding
@header-footer-padding: 2px;

// styles
.body {
    background-color: black;
    animation-name: sunrise-sunset;
    animation-duration: 60s
}

@keyframes sunrise-sunset {
    0% {background-color: black;}
    25% {background-color: orange;}
    50% {background-color: lightcyan;}
    75% {background-color: red;}
    100% {background-color: black;}
}

.header {
    position: absolute;
    width: 100%;
    background-color: @main-color;
    top: 0;
    left: 0;
    margin: 0%;
    padding: @header-footer-padding;
    color: @main-font-color;
    box-shadow:  0 4px 8px 0 @main-font-color;
}

.date {
    margin-left: 2%;
}

.time {
    margin-left: 91%;
    margin-top: -4%;
}

.main {
    margin-top: 10%;
}

.section-header {
    text-align: center;
    box-shadow:  0 4px 8px 0 @main-font-color;
    padding: 10px;
    background-color: rgba(255, 255, 255, .7);
    margin: 0;
}

.location-form {
    text-align: center;
    padding: 4px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow:  0 4px 8px 0 @main-font-color;
    width: 35%;
    margin-left: 33%
}

.query-location {
    padding-bottom: 9px;
}

// current weather
.current-location-banner {
    font-size: 24px;
    background-color: #ffffff;
    text-align: center;
    padding: 1px;
    box-shadow:  0 4px 8px 0 @main-font-color;
}

.current-info-all {
    background-color: @data-background-color;
}

.current-info-main {
    margin: 5% 0 0 15%;
    font-weight: 700;
    line-height: 2;
    font-size: 20px;
}

.current-icon {
    float: right;
    margin-right: 47%;
    margin-top: -7%;
}

.supplemental-current-info {
    margin-top: -10%;
    line-height: 26px;
    margin-left: 67%;
}

.supplemental-current-info > div {
    border-bottom: 1px solid black;
    width: 35%;
}

.supplemental-current-info > div:last-child {
    border-bottom: none;
}

// forecast styles
.forecast-banner {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    box-shadow:  0 4px 8px 0 @main-font-color;
}

.single-forecast-div {
    border-top: 1px solid black;
    margin-left: 15px;
    padding: 6px;
}

.single-forecast-div:hover {
    box-shadow:  0 4px 8px 0 @main-font-color;
}

.time-data {
    display: inline;
}

.forecast-date {
    padding-top: 4px;
}

.forecast-description {
    padding-bottom: 4px;
}

.icon {
    float: right;
    margin-right: 77%;
}

// alerts
.alerts {
    padding-bottom: 5%;
}

// footer
.footer {
    position: fixed;
    width: 100%;
    background-color: @main-color;
    text-align: center;
    margin: 0;
    bottom: 0;
    left: 0;
    padding: @header-footer-padding;
    color: @main-font-color;
}

// media queries
